# Python Data Structures: Lists, Tuples, Sets, and Dictionaries

## Table of Contents
1. Lists
    - Introduction
    - Syntax
    - Examples
    - Exercises
2. Tuples
    - Introduction
    - Syntax
    - Examples
    - Exercises
3. Sets
    - Introduction
    - Syntax
    - Examples
    - Exercises
4. Dictionaries
    - Introduction
    - Syntax
    - Examples
    - Exercises

# Lists

## 1. Introduction
Lists are a fundamental data structure in programming, used to store ordered collections of items. They allow you to organize and manage data in a linear fashion, making them ideal for tasks such as storing sequences, maintaining sorted data, and keeping track of elements in a specific order.

Lists are **mutable**, meaning you can change their contents (add, remove, or modify elements) after they are created. They can also hold items of different data types, including other lists, allowing for complex data structures.

## 2. Syntax

### List creation
You can create a list using square brackets `[]` and separating elements with commas. For example:

In [1]:
my_list = [1, 2, 3, 4, 5]

In [7]:
my_list2 = [2, 3, 4, 5, 1]

### Accessing elements
To access elements in a list, use the index (position) of the element, starting from 0:

In [8]:
first_element = my_list[0]
print(first_element)

1

In [12]:
first_element = my_list2[-2]
print(first_element)

5

### Adding elements
You can add elements to a list using the append() method or the + operator:

In [13]:
my_list.append(6)

In [15]:
my_list.append(10)

In [16]:
len(my_list)

7

In [17]:
my_list

[1, 2, 3, 4, 5, 6, 10]

# length `len()`

### Removing elements
To remove elements, you can use the remove() method or the pop() method:

In [18]:
my_list.remove(6)

In [20]:
len(my_list)

6

## 3. Examples

In [21]:
# Creating a list
fruits = ['apple', 'banana', 'cherry']

In [22]:
# Accessing elements
print(fruits[0])

apple

In [23]:
# Adding elements
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [24]:
# Removing elements
fruits.remove('banana')
print(fruits)

['apple', 'cherry', 'orange']

## 4. Exercises

### Exercise 1
Create a list of your favorite movies and print the first and last elements.

In [25]:
movies = ["harry potter", "frozen", "everything everywhere all at once"]

In [29]:
print(movies[0])

harry potter

In [30]:
print(movies[2])

everything everywhere all at once

### Exercise 2
Add two more movies to your list and remove the second movie. Print the updated list.

In [35]:
movies.append("shrek")
movies.append("notebook")

In [36]:
movies

['harry potter', 'shrek', 'notebook', 'shrek', 'notebook']

In [33]:
movies.remove("frozen")
print(movies)

['harry potter', 'everything everywhere all at once', 'shrek', 'notebook']

In [34]:
movies.remove(movies[1])
movies

['harry potter', 'shrek', 'notebook']

# Tuples

## 1. Introduction
Tuples are similar to lists, but they are immutable, meaning their contents cannot be changed after they are created. They are used to store ordered collections of items, like lists, but they are ideal for situations where the data should not be modified. Tuples are often used to represent fixed collections of values, such as coordinates, RGB color values, or dates.

Because tuples are **immutable**, they are generally faster and require less memory than lists. Additionally, their immutability can help prevent accidental modifications and ensure data consistency.

## 2. Syntax

### Tuple creation
You can create a tuple using parentheses `()` and separating elements with commas. For example:

In [37]:
my_tuple = (1, 2, 3, 4, 5)

### Accessing elements
To access elements in a tuple, use the index (position) of the element, starting from 0:

In [38]:
first_element = my_tuple[0]
print(first_element)

1

### Updating values (not allowed)
Tuples are immutable, so you cannot directly add, remove, or modify elements. However, you can create a new tuple by combining existing tuples:

In [39]:
my_tuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
new_tuple = my_tuple + (6, 7, 8)
print(new_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

In [42]:
my_list + [6, 7, 8]

[1, 2, 3, 4, 5, 10, 6, 7, 8]

## 3. Examples

In [43]:
# Creating a tuple
fruits = ('apple', 'banana', 'cherry')

# Accessing elements
print(fruits[0])

apple

In [44]:
# Combining tuples
more_fruits = ('orange', 'grape')
all_fruits = fruits + more_fruits
print(all_fruits)

('apple', 'banana', 'cherry', 'orange', 'grape')

## 4. Exercises

### Exercise 1
Create a tuple of your favorite colors and print the first and last elements.

In [53]:
colors = ("white", "orange", "green")
print(f"first element: {colors[0]}, last element: {colors[-1]}")

first element: white, last element: green

In [52]:
print("first element: my_list[0], last element: my_list[-1]")

first element: my_list[0], last element: my_list[-1]

### Exercise 2
Combine two tuples of integers and print the resulting tuple.

In [55]:
first_tuple = (5, 6, 8)
second_tuple = (10, 11, 12)
new_tuple = first_tuple + second_tuple
print(new_tuple)

(5, 6, 8, 10, 11, 12)

# Sets

## 1. Introduction
Sets are a collection data type in Python that store unordered and unique elements. They are mutable and support various operations such as union, intersection, and difference, which make them ideal for tasks like finding distinct items, comparing groups, or filtering duplicates.

Note that sets do **not support indexing or slicing** due to their unordered nature. Elements in a set must be **immutable**, like strings, numbers, or tuples.

## 2. Syntax

### Set creation
You can create a set using the `set()` constructor or by using curly braces `{}` and separating elements with commas. For example:

In [60]:
my_set = set(['a', 'b', 'c', 'c', 'c'])
my_set2 = {'a', 'b', 'c'}

In [61]:
my_set

{'a', 'b', 'c'}

In [62]:
my_set == my_set2

True

### Adding elements
To add an element to the set, use the add() method:

In [63]:
my_set.add('d')
my_set

{'a', 'b', 'c', 'd'}

### Removing elements
To remove an element from the set, use the remove() or discard() method:

In [64]:
my_set.remove('a')
my_set

{'b', 'c', 'd'}

In [65]:
my_set.remove('a')
my_set

KeyError: 'a'

In [66]:
my_set

{'b', 'c', 'd'}

In [67]:
my_set.discard('a')  # Does not raise an error if 'a' is not in the set

In [68]:
my_set

{'b', 'c', 'd'}

In [ ]:
my_set.remove('a')  # Raises KeyError if 'a' is not in the set
my_set.discard('a')  # Does not raise an error if 'a' is not in the set

### Set operations
You can perform various set operations, such as union, intersection, and difference:

In [75]:
set1 = {4, 7, 9, 10}
set2 = {11, 13, 90, 100}

In [73]:
set1.union(set2)

{4, 7, 9, 10, 11, 13, 90, 100}

In [76]:
set1.intersection(set2)

set()

In [77]:
set1.difference(set2)

{4, 7, 9, 10}

In [78]:
set2.difference(set1)

{11, 13, 90, 100}

In [ ]:
set1.union(set2)
set1.intersection(set2)
set1.difference(set2)

## 3. Examples

In [79]:
# Creating a set
fruits = {'apple', 'banana', 'cherry'}

# Adding an element
fruits.add('orange')
print(fruits)

{'banana', 'apple', 'cherry', 'orange'}

In [80]:
fruits.remove('banana')
print(fruits)

{'apple', 'cherry', 'orange'}

In [81]:
# Set operations
fruits1 = {'apple', 'banana', 'cherry'}
fruits2 = {'orange', 'banana', 'grape'}

print(fruits1.union(fruits2))
print(fruits1.intersection(fruits2))
print(fruits1.difference(fruits2))

{'cherry', 'grape', 'banana', 'apple', 'orange'}
{'banana'}
{'cherry', 'apple'}

## 4. Exercises

### Exercise 1
Create two sets and find their union, intersection, and difference.

In [82]:
books1 = {'hungry games', 'twilight', 'percy'}
books2 = {'the story of your life', 'exhalation', 'orange is not the only fruit', 'percy'}
print(books1.union(books2))
print(books1.intersection(books2))
print(books2.difference(books1))

{'percy', 'the story of your life', 'exhalation', 'orange is not the only fruit', 'hungry games', 'twilight'}
{'percy'}
{'the story of your life', 'exhalation', 'orange is not the only fruit'}

### Exercise 2
Create a set from a list and remove duplicates.

In [83]:
ex2 = {1, "orange", "books", 2 ,3, "4", "2", 4, 1, 3}
ex2

{1, 2, '2', 3, 4, '4', 'books', 'orange'}

In [85]:
ex3 = {"a", "c", "z", "b", "d"}
ex3

{'a', 'b', 'c', 'd', 'z'}

# Dictionaries

## 1. Introduction
Dictionaries are a data structure in Python that store **key-value** pairs. They are mutable, unordered, and allow for efficient data retrieval by key. Dictionaries are useful when you need to associate values with unique keys, such as storing information about a person using their ID, or mapping words to their definitions.

Unlike lists and tuples, dictionaries use keys rather than indices to access values. **The keys in a dictionary are unique** and can be any immutable data type, such as strings, numbers, or tuples.

## 2. Syntax

### Dictionary creation
You can create a dictionary using curly braces `{}` and separating keys and values with colons. For example:

In [86]:
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

### Accessing elements
To access the value associated with a key, use the key inside square brackets:

In [88]:
value = my_dict['key3']
value

'value3'

### Adding or updating values
To add a new key-value pair or update an existing one, use the key inside square brackets and assign a value:

In [89]:
my_dict['new_key'] = 'new_value'
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'new_key': 'new_value'}

In [90]:
my_dict['key1'] = 'value100'
my_dict

{'key1': 'value100',
 'key2': 'value2',
 'key3': 'value3',
 'new_key': 'new_value'}

### Removing elements
To remove an element from the dictionary, use the del keyword and provide the key:

In [91]:
del my_dict['key1']

In [92]:
my_dict

{'key2': 'value2', 'key3': 'value3', 'new_key': 'new_value'}

## 3. Examples

In [93]:
# Creating a dictionary
fruit_colors = {'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}

# Accessing elements
print(fruit_colors['apple'])

red

In [94]:
# Adding a new key-value pair
fruit_colors['orange'] = 'orange'
print(fruit_colors)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'orange': 'orange'}

In [95]:
# Updating an existing key-value pair
fruit_colors['apple'] = 'green'
print(fruit_colors)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red', 'orange': 'orange'}

In [96]:
# Removing an element
del fruit_colors['banana']
print(fruit_colors)

{'apple': 'green', 'cherry': 'red', 'orange': 'orange'}

In [98]:
fruit_colors.keys()

dict_keys(['apple', 'cherry', 'orange'])

In [99]:
fruit_colors.values()

dict_values(['green', 'red', 'orange'])

In [100]:
fruit_colors.items()

dict_items([('apple', 'green'), ('cherry', 'red'), ('orange', 'orange')])

## 4. Exercises

### Exercise 1
Create a dictionary with keys representing country names and values representing their capitals. Access the capital of a given country.

In [101]:
capitals = {"CA": "LA", "MA": "Boston", "Texas":"Austin", "NY": "NYC"}

In [103]:
capitals["NY"]

'NYC'

In [104]:
capitals["washington"]="seattle"
capitals

{'CA': 'LA',
 'MA': 'Boston',
 'Texas': 'Austin',
 'NY': 'NYC',
 'washington': 'seattle'}

In [105]:
del capitals["washington"]
capitals["Washington"]="Seattle"
capitals

{'CA': 'LA',
 'MA': 'Boston',
 'Texas': 'Austin',
 'NY': 'NYC',
 'Washington': 'Seattle'}

### Exercise 2
Add a new key-value pair to the dictionary representing a new country and its capital. Then, remove an existing key-value pair.